*{
  font-family: arial;
  font-weight: 700;
}
h1 {
  background-color: black;
  color:white;
  padding: 5px 0;
  text-align: center;
  margin: 5px 0 0 0;
}

nav {
  max-width: 100%;
  margin:0 auto;
}
nav ul {
  text-align: center;
  margin:0;
}
nav li {
  display: inline-block;
  background-color: #b7b2b2;
  font-weight: bold;
  padding:5px 10px;
}
nav a {
  color:white;
  text-decoration: none;
}
.wrapper {
  max-width: 960px;
  margin:5px auto;
}
.counter {
  background-color: #42f4d9;
  color:black;
  width:100%;
}
h2 {
  font-size: 20px;
  padding:5px 10px;
}
span {
  font-weight: 900;
  font-size:26px;
  border-bottom: yellow solid 2px;
}
.row {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}

.image {
  display: inline-block;
  width: 315px;
}
img {
  width:100%;
}
.editor {
  display: block;
  text-align: center;
  background-color: yellow;
  padding: 5px;

}
.editor a {
  font-weight: 300;
  text-decoration: none;
  padding:0 5px;
}
footer {
  width: 100%;
  text-align: center;
  background-color: black;
  color:white;
  padding:5px;
}
